@import './reset/reset.sass'
@import './fonts/fonts.sass'
@import './media/media.sass'

// font-family: 'Manrope', sans-serif

#page
    width: 100%
    .geolocation
        width: 100%
        height: 100%
        font-family: 'Manrope', sans-serif
        background-color: rgba(23, 27, 36, .6)
        position: fixed
        z-index: 99999
        display: none
        &-btn__close
            position: absolute
            right: 20px
            top: 20px
            width: 52px
            height: auto
            &:hover
                cursor: pointer
        &-content
            max-width: 572px
            margin: 0 auto
            background-color: #fff
            margin-top: 252px
            &__title
                max-width: 500px
                margin: 0 auto
                text-align: center
                padding-top: 36px
                h3
                    font-weight: 600
                    font-size: 34px
                    color: #2F323A
                    line-height: 130%
            &__input
                position: relative
                margin-top: 24px
                #geo-choose-cities
                    font-family: 'Manrope', sans-serif
                    display: block
                    outline: none
                    border: none
                    width: 500px
                    margin: 0 auto
                    font-size: 18px
                    border-bottom: 1px solid #D1D1D3
                    background: #F6F6F6
                    color: #454950
                    padding: 12px 16px 12px 16px
                    &::placeholder
                        font-weight: 500
                        font-size: 18px
                        line-height: 136%
                        color: #8B8D92
                .geo-input_icon
                    position: absolute
                    right: 10%
                    top: 12px
                    &:hover
                        cursor: pointer
            &__list
                margin-top: 24px
                padding-bottom: 36px
                &_content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    max-width: 500px
                    margin: 0 auto
                    .list-item
                        width: 156px
                        &:nth-last-child(n+2)
                            margin-right: 16px
                        &__content
                            display: flex
                            align-items: center
                            &:nth-last-child(n+2)
                                margin-bottom: 16px
                            &_icon
                                display: none
                                width: 16px
                                margin-right: 4px
                                height: auto
                            &_city
                                font-weight: 500
                                color: #2F323A
                                font-size: 16px
                                line-height: 150%
                                &:hover
                                    cursor: pointer    
    .header
        width: 100%
        &-container
            &__top_menu
                font-family: 'Manrope', sans-serif
                background-color: #F6F6F6
                padding-top: 10px
                padding-bottom: 10px
                .top-menu__content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    max-width: 1160px
                    margin: 0 auto
                    .top-menu_geo
                        display: flex
                        align-items: center
                        .geo-cities
                            margin-left: 8px
                            font-weight: 500
                            font-size: 15px
                            line-height: 145%
                            .cities-name
                                color: #5D6066
                                &:hover
                                    cursor: pointer
                                    color: #2F323A
                    .top-menu_listing
                        &__content
                            display: flex
                            align-items: center
                            .listing-item
                                &:nth-last-child(n+2)
                                    margin-right: 24px
                                &_link
                                    text-decoration: none
                                    color: #5D6066
                                    font-weight: 500
                                    font-size: 15px
                                    line-height: 145%
                                    &:hover
                                        cursor: pointer
                                        color: #2F323A
            &__menu
                width: 100%
                font-family: 'Manrope', sans-serif
                margin-top: 16px
                &::after
                    content: ''
                    display: block
                    width: 100%
                    height: 1px
                    background-color: #E8E9EA
                    margin-top: 16px
                .menu__content
                    display: flex
                    align-items: center
                    max-width: 1160px
                    margin: 0 auto
                    .menu-logo
                        width: 180px
                        height: 46px
                        &:hover
                            cursor: pointer
                    .menu-search
                        margin-left: 114px
                        &_button
                            #btn-catalog
                                font-family: 'Manrope', sans-serif
                                outline: none
                                border: none
                                background-color: #FCEC41
                                padding: 12px 20.5px 12px 20.5px
                                transition: background-color .2s linear
                                &:hover
                                    background-color: #2F323A
                                    cursor: pointer
                                    &:hover .btn-catalog__content_text
                                        color: white
                                    &:hover .line
                                        background-color: white
                                .btn-catalog__content
                                    display: flex
                                    align-items: center
                                    &_icon
                                        .line
                                            display: block
                                            background-color: #2F323A
                                            height: 2.5px
                                            border-radius: 8px
                                            &:nth-last-child(n+2)
                                                margin-bottom: 6px
                                        .line-top
                                            width: 8px
                                        .line-middle
                                            width: 16px
                                        .line-bottom
                                            width: 12px
                                    &_text
                                        margin-left: 8px
                                        font-weight: 500
                                        color: #171B24
                                        font-size: 18px
                                        line-height: 136%
                    .search-input
                        margin-left: 16px
                        position: relative
                        #search
                            font-family: 'Manrope', sans-serif
                            outline: none
                            border: none
                            background-color: #F6F6F6
                            padding-left: 12px
                            font-size: 18px
                            font-weight: 500
                            border-bottom: 1px solid #D1D1D3
                            color: #454950
                            width: 444px
                            height: 48px
                            &:hover
                                cursor: pointer
                                border-bottom: 1px solid #8B8D92
                            &::placeholder
                                font-weight: 500
                                font-size: 18px
                                color: #8B8D92                        
                        &_icon
                            position: absolute
                            top: 11px
                            left: 91%
                            z-index: 9999
                            &:hover
                                cursor: pointer   
                    .menu-custom_panel
                        margin-left: 16px
                        &__content
                            display: flex
                            align-items: center
                            .menu-item
                                font-family: 'Manrope', sans-serif
                                width: 82px
                                height: 48px
                                text-align: center
                                &__img
                                    display: block
                                    margin: 0 auto
                                &__link
                                    .item-link
                                        font-family: 'Manrope', sans-serif
                                        text-decoration: none
                                        font-weight: 500
                                        color: #454950
                                        font-size: 15px
                                        line-height: 145%
                                        &:hover
                                            color: #2F323A
            &__bottom_menu
                width: 100%
                &::after
                    content: ''
                    display: block
                    width: 100%
                    height: 1px
                    background-color: #E8E9EA
                    margin-top: 10px
                .menu__content
                    max-width: 1160px
                    margin: 0 auto
                    .menu-navigation
                        font-family: 'Manrope', sans-serif
                        display: flex
                        align-items: center
                        margin-top: 10px
                        &__item
                            &:nth-last-child(n+2)
                                margin-right: 30px
                            .nav-item__link
                                text-decoration: none
                                font-weight: 500
                                color: #454950
                                font-size: 16px
                                line-height: 150%
                                &:hover
                                    cursor: pointer
                                    color: #171B24
    .slider
        width: 100%
        &-container
            max-width: 1360px
            margin: 0 auto
            margin-top: 40px
            background-blend-mode: multiply
            background: linear-gradient(73.49deg, #F6F6F6 12.24%, rgba(255, 255, 255, 0) 49.34%)
            background-size: cover
            background-repeat: no-repeat
            transition: background-image .2s ease-in-out
            &__data
                font-family: 'Manrope', sans-serif
                padding-top: 40px
                padding-bottom: 40px
                padding-left: 100px
                &_title
                    max-width: 570px
                    h2
                        font-weight: 700
                        font-size: 48px
                        line-height: 120%
                        color: #171B24
                    .sub-title
                        max-width: 278px
                        margin-top: 20px
                        p
                            font-weight: 400
                            font-size: 20px
                            line-height: 140%
                            color: #171B24
                .slider-container__content_buttons
                    display: flex
                    align-items: center
                    margin-top: 100px
                    .info-button
                        .info-btn
                            font-family: 'Manrope', sans-serif
                            outline: none
                            border: none
                            max-width: 147px
                            padding: 12px 24px    
                            font-weight: 500
                            background-color: #FCEC41
                            font-size: 18px
                            line-height: 136%
                            transition: background-color .2s linear
                            &:hover
                                background-color: #2F323A
                                cursor: pointer
                                color: white
                    .slider-button
                        margin-left: 897px
                        &__content
                            .slider-btn
                                background-color: white
                                outline: none
                                border: none
                                border: 1px solid #D1D1D3
                                width: 52px
                                height: 52px
                                font-size: 22px
                                transition: background-color .2s linear
                                &:hover
                                    background-color: #2f323a
                                    cursor: pointer
                                    color: white
                                    border: none
                            .slider-btn_right
                                margin-left: 12px
    .stocks
        width: 100%
        margin-top: 80px
        &-container
            max-width: 1160px
            margin: 0 auto
            &__top_menu
                font-family: 'Manrope', sans-serif
                .top__menu_content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .top-menu__title
                        h3
                            font-weight: 600
                            color: #2F323A
                            font-size: 34px
                            line-height: 130%
                    .top-menu__socks_button
                        .socks-btn
                            outline: none
                            max-width: 160px
                            border: 1px solid #D1D1D3
                            padding: 12px 16px 12px 24px
                            background-color: white
                            transition: background-color .2s linear
                            &:hover
                                background-color: #2F323A
                                color: white
                                cursor: pointer
                                &:hover p
                                    color: white
                            &__content
                                font-family: 'Manrope', sans-serif
                                display: flex
                                align-items: center
                                &_text
                                    font-weight: 500
                                    font-size: 18px
                                    line-height: 136%
                                    margin-right: 8px
                                    color: #171B24
                                &_icon
                                    font-size: 18px
            &__cards
                margin-top: 16px
                &_content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    flex-wrap: wrap
                    .card-item
                        font-family: 'Manrope', sans-serif
                        position: relative
                        border: 1px solid #E8E9EA
                        &:nth-last-child(n+3)
                            margin-bottom: 16px
                        &__content
                            display: flex
                            &_discount
                                position: absolute
                                top: 16px
                                left: 16px
                                .price-discount
                                    font-weight: 500
                                    color: #171B24
                                    background-color: #fff
                                    font-size: 15px
                                    line-height: 145%
                                    padding: 4px 8px
                                    border: 2px solid #FBE303
                            &_img
                                .card-img
                                    display: block
                                    margin: 0 auto
                            &_data
                                width: 294px
                                border-left: 1px solid #E8E9EA
                                .data-description
                                    max-width: 262px
                                    margin: 0 auto
                                    margin-top: 16px
                                    height: 72px
                                    font-weight: 500
                                    font-size: 16px
                                    line-height: 150%
                                    color: #2F323A
                                .data-price
                                    margin-top: 12px
                                    &__content
                                        display: flex
                                        align-items: center
                                        &_new-price
                                            margin-left: 16px
                                            h4
                                                font-weight: 700
                                                font-size: 20px
                                                line-height: 140%
                                                color: #171B24
                                        &_old-price
                                            margin-left: 8px
                                            p
                                                font-weight: 500
                                                font-size: 16px
                                                line-height: 150%
                                                color: #8B8D92
                                                text-decoration: line-through
                                .data-button
                                    margin-top: 16px
                                    .card-buy
                                        display: block
                                        font-family: 'Manrope', sans-serif
                                        outline: none
                                        border: none
                                        max-width: 262px
                                        margin: 0 auto
                                        font-weight: 500
                                        font-size: 18px
                                        background-color: #FCEC41
                                        line-height: 136%
                                        padding: 12px 88px
                                        color: #171B24
                                        transition: background-color .2s linear
                                        &:hover
                                            cursor: pointer
                                            background-color: #2F323A
                                            color: white
                                .data-button__score
                                    display: none
                                    margin-top: 16px
                                    &_content
                                        display: flex
                                        justify-content: space-between
                                        align-items: center
                                        max-width: 262px
                                        margin: 0 auto
                                        font-family: 'Manrope', sans-serif
                                        border: 1px solid #D1D1D3
                                        .btn-add, .btn-remove
                                            width: 48px
                                            height: 48px
                                            padding: 11.5px
                                            outline: none
                                            border: none
                                            background-color: #fff
                                            transition: background-color .2s linear
                                            &:hover
                                                cursor: pointer
                                                background-color: #2F323A
                                                &:hover svg path
                                                    stroke: #fff              
                                        .btn-add
                                            border-right: 1px solid #D1D1D3
                                        .btn-remove
                                            border-left: 1px solid #D1D1D3
                                        .card-quantity
            
                                            .quantity
                                                max-width: 152px
                                                margin: 0 auto
                                                height: 50px
                                                outline: none
                                                border: none
                                                text-align: center
                                                font-weight: 500
                                                font-size: 18px
                                                line-height: 136%
                                                color: #171B24
    .categories
        width: 100%
        margin-top: 80px
        &-container
            max-width: 1160px
            margin: 0 auto
            &__top_menu
                font-family: 'Manrope', sans-serif
                .top-menu__content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .top-menu__title
                        h3
                            font-weight: 600
                            color: #2F323A
                            font-size: 34px
                            line-height: 130%
                    .top-menu__categories_button
                        .categories-btn
                            font-family: 'Manrope', sans-serif
                            outline: none
                            background-color: #fff
                            border: 1px solid #D1D1D3
                            font-weight: 500
                            color: #171B24
                            font-size: 18px
                            line-height: 136%
                            padding: 12px 16px 12px 24px
                            transition: background-color .2s linear
                            &:hover
                                cursor: pointer
                                background-color: #2F323A
                                color: white
                            &__content
                                display: flex
                                align-items: center
                                &_icon
                                    margin-left: 17px
            &__tab
                font-family: 'Manrope', sans-serif
                &_content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    flex-wrap: wrap
                    margin-top: 16px
                    .tab-item
                        max-width: 180px
                        height: auto
                        background-color: #F6F6F6
                        transition: background-color .2s linear
                        &:hover
                            cursor: pointer
                            background-color: #FCEC41
                        &:nth-last-child(n+1)
                            margin-bottom: 16px
                        &__title
                            text-align: center
                            margin-top: 12px
                            margin-bottom: 16px
                            h3
                                font-weight: 500
                                font-size: 18px
                                line-height: 136%
                                color: #2F323A
                        &__img
                            img
                                max-width: 180px
    .products
        width: 100%
        font-family: 'Manrope', sans-serif
        margin-top: 64px
        &-container
            max-width: 1160px
            margin: 0 auto
            &__title
                h3
                    font-weight: 600
                    font-size: 34px
                    line-height: 130%
                    color: #2F323A
            &__cards
                &_content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin-top: 20px
                    flex-wrap: wrap
                    .product-card_item
                        max-width: 278px
                        border: 1px solid #E8E9EA
                        &:nth-last-child(n+1)
                            margin-bottom: 16px
                        &__img
                            border-bottom: 1px solid #E8E9EA
                            .product-img
                                max-width: 278px
                                height: auto
                        &__data
                            max-width: 246px
                            margin: 0 auto
                            margin-top: 16px
                            .product-description
                                height: 72px
                                font-weight: 500
                                color: #2F323A
                                font-size: 16px
                                line-height: 150%
                            .product-price
                                font-weight: 700
                                color: #171B24
                                margin-top: 12px
                                font-size: 20px
                                line-height: 140%
                        &__button
                            max-width: 246px
                            margin: 0 auto
                            margin-top: 16px
                            margin-bottom: 16px
                            .btn-product-buy
                                font-family: 'Manrope', sans-serif
                                outline: none
                                border: none
                                font-weight: 500
                                font-size: 18px
                                line-height: 136%
                                padding: 12px 80px
                                color: #171B24
                                background-color: #FCEC41
                                transition: background-color .2s linear
                                &:hover
                                    background-color: #2F323A
                                    cursor: pointer
                                    color: white
    .brands
        width: 100%
        margin-top: 64px
        &-container
            max-width: 1160px
            margin: 0 auto
            &__top_menu
                font-family: 'Manrope', sans-serif
                .top-menu__content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    &_title
                        h3
                            color: #2F323A
                            font-weight: 600
                            font-size: 34px
                            line-height: 130%
                    &_button
                        .brands-btn
                            font-family: 'Manrope', sans-serif
                            font-size: 18px
                            outline: none
                            padding: 12px
                            background-color: #fff
                            border: 1px solid #D1D1D3
                            transition: background-color .2s linear
                            &:hover
                                cursor: pointer
                                color: white
                                background-color: #2F323A
                                &:hover .brands-btn__content_text
                                    color: #fff
                            &__content
                                display: flex
                                align-items: center
                                &_text
                                    font-weight: 500
                                    color: #171B24
                                    line-height: 136%
                                &_icon
                                    margin-left: 8px
            &__icons
                &_content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    flex-wrap: wrap
                    margin-top: 16px
                    .icons-item
                        max-width: 180px
                        height: auto
                        border: 1px solid #E8E9EA
                        transition: border .2s linear
                        &:hover
                            cursor: pointer
                            border: 1px solid #5D6066
                        &:nth-last-child(n+1)
                            margin-bottom: 16px
    .reviews
        width: 100%
        background-color: #F6F6F6
        margin-top: 64px
        &-container
            max-width: 1160px
            margin: 0 auto
            &__top_menu
                font-family: 'Manrope', sans-serif
                .top_menu__content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    padding-top: 84px
                    &_title
                        h3
                            font-weight: 600
                            font-size: 34px
                            line-height: 130%
                            color: #2F323A
                    &_buttons
                        .buttons__content
                            .reviews-btn
                                outline: none
                                border: 1px solid #D1D1D3
                                color: #2F323A
                                background-color: #fff
                                font-size: 20px
                                padding: 14px
                                transition: background-color .2s linear
                                &:hover
                                    cursor: pointer
                                    color: #fff
                                    background-color: #2F323A
                            .btn-right
                                margin-left: 12px
            &__listing
                font-family: 'Manrope', sans-serif
                &_content
                    width: 100%
                    display: flex
                    align-items: center
                    margin-top: 16px
                    padding-bottom: 80px
                    .review-listing__item
                        max-width: 376px
                        border: 1px solid #E8E9EA
                        background-color: #fff
                        &:nth-last-child(n+2)
                            margin-right: 16px
                        &_header
                            max-width: 328px
                            margin: 0 auto
                            margin-top: 24px
                            position: relative
                            &__content
                                display: flex
                                align-items: center
                                .user-img
                                    max-width: 52px
                                    height: auto
                                    background-color: #FCEC41
                                    border-radius: 50%
                                .user-name
                                    font-weight: 700
                                    font-size: 18px
                                    line-height: 136%
                                    color: #2F323A
                                    margin-left: 12px
                                .user-traced
                                    position: absolute
                                    top: 0
                                    right: 0
                        &_data
                            max-width: 328px
                            margin: 0 auto
                            margin-left: 24px
                            margin-right: 24px
                            margin-top: 12px
                            margin-bottom: 24px
                            &_text
                                font-weight: 400
                                font-size: 16px
                                line-height: 150%
                                color: #2F323A
                                height: 216px
                            &_date
                                font-weight: 500
                                font-size: 15px
                                line-height: 145%
                                color: #8B8D92
                                margin-top: 15px
    .about
        margin-top: 40px
        width: 100%
        &-container
            max-width: 1360px
            margin: 0 auto
            background-size: cover
            &__content
                font-family: 'Manrope', sans-serif
                max-width: 670px
                padding-top: 88px
                padding-bottom: 88px
                margin-left: 198px
                &_title
                    h3
                        font-weight: 600
                        color: #2F323A
                        font-size: 34px
                        line-height: 130%
                &_description
                    margin-top: 20px
                    p
                        font-weight: 400
                        font-size: 16px
                        line-height: 150%
                        color: #2F323A
    .footer
        width: 100%
        background-color: #2F323A
        margin-top: 40px
        &-container
            max-width: 1160px
            margin: 0 auto
            &__content
                font-family: 'Manrope', sans-serif
                display: flex
                justify-content: space-between
                align-items: center
                padding-top: 40px
                padding-bottom: 40px
                .footer-item
                    width: 278px
                    &:first-child
                        margin-right: 114px
                    &__logo
                        max-width: 180px
                        margin-bottom: 22px
                    &__email
                        margin-bottom: 16px
                        &_content
                            display: flex
                            align-items: center
                            .email-text
                                margin-left: 8px
                                p
                                    font-weight: 500
                                    font-size: 16px
                                    line-height: 150%
                                    color: #E8E9EA
                    &__geolocation
                        &_content
                            display: flex
                            align-items: center
                            .geolocation-text
                                margin-left: 8px
                                p
                                    font-weight: 500
                                    font-size: 16px
                                    line-height: 150%
                                    color: #E8E9EA
                    .footer-nav
                        &__content
                            display: flex
                            align-items: center
                            &:nth-last-child(n+2)
                                margin-bottom: 12px
                            &_icon
                                display: none
                                width: 16px
                                height: 16px
                                margin-right: 4px
                            &_item
                                .nav-item__link
                                    text-decoration: none
                                    font-weight: 500
                                    font-size: 16px
                                    line-height: 150%
                                    color: #E8E9EA
                .header-items
                    &:nth-last-child(n+2)
                        margin-right: 16px
            &__under
                font-family: 'Manrope', sans-serif
                &::before
                    content: ""
                    display: block
                    width: 100%
                    height: 1px
                    background-color: #5D6066
                    margin-bottom: 22px
                &_content
                    display: flex
                    justify-content: space-between
                    align-items: center
                    padding-bottom: 20px
                    .under-item
                        &__title
                            h3
                                font-weight: 500
                                font-size: 16px
                                line-height: 150%
                                color: #D1D1D3
                        &__paycards
                            max-width: 268px
                            margin: 0 auto
                            &_content
                                display: flex
                                align-items: center
                                .footer-card-img
                                    &:nth-last-child(n+2)
                                        margin-right: 16px
                        &__created
                            h3
                                font-weight: 500
                                font-size: 16px
                                line-height: 150%
                                color: #D1D1D3  
